<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxpYFRd-sDNZJSu-IoBFASPb4ZHY2iWTo</string>
	<key>GCM_SENDER_ID</key>
	<string>816849395577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cosc4353VolunteerApp</string>
	<key>PROJECT_ID</key>
	<string>cosc4353-c3920</string>
	<key>STORAGE_BUCKET</key>
	<string>cosc4353-c3920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816849395577:ios:069da940c9935fcfa419a8</string>
</dict>
</plist>